<html>
<article class="post">
  <header class="post__hd">
    <h1><a href="/">Home</a></h1>
    <div class="sub">
 	<time datetime="2014-05-26 21:06:48" pubdate>26 May 2014</time>
    </div>
  </header>
  <div class="post__bd">
    <a href="/" title="Home Page"><img src="https://farm6.staticflickr.com/5317/14000649229_7ff85cef2d.jpg" alt="Store"></a>
  </div>
  
</article>

</html>
