<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="document-hd">
    <div class="container">
      <nav class="cf">
        <ul class="cf">
          <li>Glassfiles</li>
          <li ><a href="/writings">Writings</a></li>
          <li ><a href="/images">Image</a></li>
          <li ><a href="/slideshows">Slidesshow</a></li>
          <li ><a href="/audios">Audio</a></li>
          <li ><a href="/videos">Video</a></li>
        </ul>
      </nav>
    </div>

  </header>
  <div class="container main">

    <%= yield %>
  </div>
    
  
</body>

</html>
